.gallery {
position: relative;
display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
   // padding-left: 100px;
   // width: 625px;
   
}


#thumbnails {
    
}

/*figure {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  padding: .5em;
    margin: .25em;
    width: 100%;

  
    
} */

